body {
    background: #fff
}

.article-wraper {
    margin-top: 40px;
    margin-bottom: 40px
}

@media (max-width: 767px) {
    .article-wraper {
        margin-top: 20px
    }
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #F6F6F6;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 700px 104px;
    position: relative
}

label {
    font-weight: 700
}

@media (max-width: 991px) {
    .blog-sidebar {
        margin-top: 20px
    }
}

.blog-sidebar .article-dm,
.blog-sidebar .article-lq {
    margin-bottom: 30px;
    background-color: #fff
}

.blog-sidebar .aside-title {
    color: #fff;
    position: relative;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    background-color: #0a402b
}

.blog-sidebar .aside-title a {
    color: #fff
}

.blog-sidebar .nav-category {
    border: 1px solid #0a402b;
    padding: 10px 15px;
    border-top: 0
}

.blog-sidebar .nav-category .nav-item {
    position: relative;
    clear: left
}

.blog-sidebar .nav-category .nav-item a {
    font-size: 15px;
    padding: 8px 0px;
    padding-right: 25px;
    color: #000;
    white-space: normal;
    position: relative;
    display: table;
    width: 100%
}

.blog-sidebar .nav-category .nav-item a:hover,
.blog-sidebar .nav-category .nav-item a:focus {
    color: #0fb587;
    background-color: transparent
}

.blog-sidebar .nav-category .nav-item a i.fa-caret-right {
    display: table-cell;
    width: 10px !important
}

.blog-sidebar .nav-category .nav-item.active>a {
    color: #0fb587
}

.blog-sidebar .nav-category .nav-item .Collapsible__Plus {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 25px;
    height: 25px;
    cursor: pointer
}

.blog-sidebar .nav-category .nav-item .Collapsible__Plus::before,
.blog-sidebar .nav-category .nav-item .Collapsible__Plus::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out
}

.blog-sidebar .nav-category .nav-item .Collapsible__Plus::before {
    width: 11px;
    height: 1px;
    opacity: 1
}

.blog-sidebar .nav-category .nav-item .Collapsible__Plus::after {
    width: 1px;
    height: 11px
}

.blog-sidebar .nav-category .nav-item.active>.Collapsible__Plus::after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg)
}

.blog-sidebar .nav-category .nav-item.active>.Collapsible__Plus::before {
    opacity: 0
}

.blog-sidebar .nav-category .nav-item.active>.sub-menu,
.blog-sidebar .nav-category .nav-item.active>.dropdown-menu {
    display: block
}

.blog-sidebar .nav-category .nav-item .sub-menu,
.blog-sidebar .nav-category .nav-item .dropdown-menu {
    margin: 0;
    padding: 0;
    -webkit-transition: left 0.3s ease 0s, opacity 0.3s;
    transition: left 0.3s ease 0s, opacity 0.3s;
    position: static;
    width: 100%;
    border: 0;
    padding-left: 5px;
    box-shadow: none
}

.blog-sidebar .nav-category .nav-item .sub-menu .nav-item a,
.blog-sidebar .nav-category .nav-item .dropdown-menu .nav-item a {
    padding: 5px 10px;
    padding-right: 25px
}

.blog-sidebar .nav-category .nav-item .sub-menu .nav-item .sub-menu .nav-item a,
.blog-sidebar .nav-category .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item a {
    padding: 5px 20px
}

.blog-sidebar .nav-category .nav-item .sub-menu .nav-item .sub-menu .nav-item .sub-menu .nav-item a,
.blog-sidebar .nav-category .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item .dropdown-menu .nav-item a {
    padding: 5px 30px
}

.blog-sidebar .nd-list-blogs {
    border: 1px solid #0a402b;
    padding: 10px 15px
}

.blog-sidebar .nd-list-blogs .has-post-thumbnail {
    margin: 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.blog-sidebar .nd-list-blogs .has-post-thumbnail:last-child {
    margin-bottom: 0
}

.blog-sidebar .nd-list-blogs .has-post-thumbnail .qodef-e-media-image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 80px;
    margin: 0 10px 0 0
}

.blog-sidebar .nd-list-blogs .has-post-thumbnail .qodef-e-content {
    line-height: 1.3
}

.blog-sidebar .nd-list-blogs .has-post-thumbnail .qodef-e-content a {
    color: #000;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.blog-sidebar .nd-list-blogs .has-post-thumbnail .qodef-e-content a:hover,
.blog-sidebar .nd-list-blogs .has-post-thumbnail .qodef-e-content a:focus {
    color: #0fb587
}

.nd-article .blog-item-author {
    font-size: 14px;
    color: #000;
    margin-bottom: 20px
}

.nd-article .blog-item-author span {
    margin-right: 10px
}

.nd-article .blog-item-author span svg {
    width: 14px;
    height: 14px
}

.nd-article .article-details p {
    word-wrap: break-word
}

@media (max-width: 767px) {
    .nd-article .article-details {
        margin-top: 10px
    }
}

.nd-article .article-details h2 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px
}

.nd-article .article-details h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 10px
}

.nd-article .article-details a {
    color: #0a402b
}

.nd-article .article-details a:hover,
.nd-article .article-details a:focus {
    color: #1c1c1c;
    font-weight: 500
}

.nd-article .article-details img {
    max-width: 100%;
    height: auto !important;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768px) {
    .nd-article .article-details img {
        max-width: 600px;
        display: block
    }
}

.nd-article .article-details iframe {
    max-width: 100% !important
}

.article-summary {
    font-size: 15px;
    max-width: 700px;
    margin: 20px auto;
    font-style: italic;
    color: #333;
    text-align: justify
}

.tag_article .inline {
    font-weight: 500;
    font-size: 15px
}

@media (max-width: 480px) {
    .tag_article .inline {
        display: block !important;
        font-size: 14px;
        margin-bottom: 3px
    }
}

.tag_article a {
    background: #fff;
    color: #777;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border: 1px dashed #eee
}

.tag_article a:hover {
    background-color: #0a402b;
    color: #fff;
    border-color: #0a402b
}

.nd-article-toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #000;
    background-color: #fff
}

@media (max-width: 767px) {
    .nd-article-toolbar {
        display: block;
        margin-bottom: 10px
    }
}

.nd-article-toolbar .nd-article-toolbar-left .nd-article-toolbar-head {
    color: #0a402b;
    font-weight: 500;
    display: inline-block;
    float: left;
    margin-right: 5px
}

@media (max-width: 767px) {
    .nd-article-toolbar .nd-article-toolbar-left .nd-article-toolbar-head {
        width: 100%;
        margin-right: 0
    }
}

.nd-article-toolbar .nd-article-toolbar-left .nd-article-toolbar-title {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    float: left
}

@media (max-width: 1024px) {
    .nd-article-toolbar .nd-article-toolbar-left .nd-article-toolbar-title {
        max-width: 300px
    }
}

@media (max-width: 991px) {
    .nd-article-toolbar .nd-article-toolbar-left .nd-article-toolbar-title {
        max-width: 300px
    }
}

@media (max-width: 767px) {
    .nd-article-toolbar .nd-article-toolbar-left .nd-article-toolbar-title {
        max-width: unset;
        width: 100%
    }
}

@media (max-width: 767px) {
    .nd-article-toolbar .nd-article-toolbar-left {
        width: 100%
    }
}

@media (max-width: 767px) {
    .nd-article-toolbar .nd-article-toolbar-right {
        width: 100%;
        text-align: center;
        margin-top: 10px
    }
}

.nd-article-toolbar .nd-article-toolbar-right a {
    font-size: 12px;
    letter-spacing: 2px;
    color: #0a402b;
    font-weight: 500
}

.nd-article-toolbar .nd-article-toolbar-right a svg {
    color: #0a402b;
    vertical-align: -2px;
    height: 12px
}

.nd-article-toolbar .nd-article-toolbar-right a:first-child svg {
    margin-right: 6px
}

.nd-article-toolbar .nd-article-toolbar-right a:last-child {
    margin-left: 15px
}

.nd-article-toolbar .nd-article-toolbar-right a:last-child svg {
    margin-left: 6px
}

.nd-article-toolbar .nd-article-toolbar-right a:hover {
    color: #333
}

.nd-article-toolbar .nd-article-toolbar-right a:hover svg {
    color: #333
}

.nd-article-toolbar .nd-article-toolbar-right .separator {
    display: inline-block;
    position: relative;
    content: '';
    width: 1px;
    height: 12px;
    margin: 0 18px;
    background: rgba(255, 255, 255, 0.8);
    vertical-align: middle
}

.form-coment p {
    margin-bottom: 30px
}

.title-form-coment {
    font-weight: 700;
    margin-bottom: 15px
}

#article_comments {
    margin-bottom: 0
}

#article_comments .title-form-coment {
    padding: 10px 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000
}

#article-commentsa {
    margin-top: 0 !important;
    margin-bottom: 15px
}

#article-commentsa .user-name-comment strong {
    font-weight: 500
}

#article-commentsa button {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px
}

#article-commentsa {
    margin-top: 30px
}

#article-commentsa .article-comment {
    margin-bottom: 10px
}

#article-commentsa .article-comment-user-image {
    margin: 0;
    float: left;
    width: 50px;
    margin-right: 12px
}

#article-commentsa .article-comment-user-comment {
    padding-left: 63px;
    font-size: em(14px)
}

#article-commentsa .user-name-comment {
    margin: 0;
    color: #0a402b;
    font-size: 15px;
    line-height: 1
}

#article-commentsa .article-comment-date-bull {
    padding: 5px 0;
    display: block;
    color: #acacac;
    font-size: 12px
}

.btn-blues,
#btnnewreview,
.nd-button {
    border-radius: 30px;
    border: 1px solid #0a402b;
    background: #0a402b
}

.btn-blues:hover,
#btnnewreview:hover,
.nd-button:hover {
    background: #333;
    border-color: #333
}

.article-dm ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.article-dm .sub-menu,
.article-dm .dropdown-menu {
    display: none
}